{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin: 20px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 align-items-center text-center">
            <img src="{% static 'img/about_image.jpg' %}" class="img-fluid" alt="About Vira">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p>Welcome to Vira, where passion for food meets a delightful dining experience! At Vira, we take pride in crafting culinary masterpieces that tantalize your taste buds and transport you to a world of flavor. Our chefs, driven by a love for gastronomy, meticulously source the finest ingredients to curate a menu that celebrates both tradition and innovation.</p>

            <p>At the heart of Vira is a commitment to excellence in every aspect of your dining journey. From the warm ambiance that invites you in, to the artfully presented dishes that grace your table, we strive to create an atmosphere where every moment is a celebration of good food and great company.</p>

            <p>Join us on a culinary adventure that reflects our dedication to quality, authenticity, and the joy of savoring each bite. At Vira, we don't just serve meals; we create memorable dining experiences that linger in your memory. Welcome to our table, where every dish tells a story, and every guest is a cherished part of the Vira family.</p>
        </div>
    </div>
</div>

{% endblock %}